body{
    background-color: rgb(184, 131, 53);
}
.h1{
    font-size: 50px;
    font-family: monospace;
    position: absolute;
    left: 40%;
    top: 5%;
}
.container{
    position: absolute;
    top: 30%;
    left: 40%;
    display: flex;
    flex-direction: column;
}
.button{
    display: inline-block;
    padding: 15px 25px;
    margin: 5px 5px 25px 5px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ebb645;
    border: none;
    border-radius: 15px;
    box-shadow: -2px 5px #825005;
}
.gameboard{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    top: 30%;
    left: 40%;
    width: 300px;
    height: 300px;
}
@media screen and (max-width: 480px) {
    .gameboard{
        top: 20%;
        left: 10%;
    }
}
.box{
    border: 1px solid #dad7d7;
    padding: 5px;
    margin: 2px;
    font-size: 70px;
    display: flex;
    justify-content: center;
}
.box:hover{
    transform: scale(1.05);
}
.choose{
    display: flex;
    position: absolute;
    top: 80%;
    left: 45%;
}
.warning{
    display: none;
    font-size: 50px;
    font-family: monospace;
    position: absolute;
    bottom: 5%;
    left: 30%;
}