body{
    background-color: rgb(184, 131, 53);
}
.play{
    display: none;
}
.h1{
    font-size: 50px;
    font-family: monospace;
    position: absolute;
    left: 38%;
    top: 5%;
}
.container{
    position: absolute;
    top: 30%;
    left: 37%;
    display: flex;
    flex-direction: column;
}
.button{
    display: inline-block;
    padding: 15px 25px;
    margin: 5px 5px 25px 5px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ebb645;
    border: none;
    border-radius: 15px;
    box-shadow: -2px 5px #825005;
}
.gameboard{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    top: 30%;
    left: 40%;
    width: 250px;
    height: 250px;
    margin-bottom: 5px;
}

.box{
    border: 1px solid #dad7d7;
    padding: 5px;
    margin: 2px;
    font-size: 70px;
    display: flex;
    justify-content: center;
}
.box:hover{
    transform: scale(1.05);
}
.choose{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70%;
    left: 44%;
}
.warning{
    display: none;
    font-size: 50px;
    font-family: monospace;
    position: absolute;
    bottom: 5%;
    left: 30%;
}
.window{
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0,0, 0.7);
    overflow: auto;
}
.restart{
    padding: 2rem 2rem 2rem 2rem;
    position: absolute;
    top: 20%;
    left: 43%;
}
.windowtext{
    font-size: 60px;
    color: wheat;
    position: absolute;
    left: 40%;
    top: 50%;
}

@media screen and (max-width: 480px) {
    .gameboard{
        top: 20%;
        left: 10%;
    }
    .h1{
        left:8%;
    }
    .container{
        left:0%;
    }
    .choose{
        top:60%;
        left:23%;
    }
    .restart{
        left:30%;
    }
    .windowtext{
        left: 0%;
    }
    .warning{
        font-size: 30px;
        left:0%;
        bottom: 5%;
    }
}